.sec{
    display: flex;
    justify-content: space-evenly;
    font-size: larger;
    font-weight: 500;
}

.vaccine_show{
    margin: 0px 5% 0px 5%;

}

.vaccine{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    justify-content: space-evenly;
    
}


.gh{
    display: flex;
}

.vaccine>h1{
    font-weight: 600;
}


.sty_card{
    margin: 50px;
    background-color: skyblue !important;
    border-radius: 20px;

}

@media only screen and (max-width: 991px) {
    .sec{
        display: block;
    }

    .sty_card{
        margin: 0px 0px 40px 0px !important;
        margin: 0;
    }
    
}